[Unit]
Description=nftables exporter service
After=network-online.target

[Service]
Type=simple
PIDFile=/run/nftables_exporter.pid
ExecStart=/usr/bin/nftables-exporter
User=root
Group=root
SyslogIdentifier=nftables-exporter
Restart=on-failure
RemainAfterExit=no
RestartSec=100ms
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
